flask
flask-jwt-extended
flask-cors
opencv-python
opencv-contrib-python==4.11.0.86
mediapipe==0.10.21
numpy==1.26.4
SpeechRecognition
moviepy
pydub
pymongo[srv]
python-dotenv
werkzeug
librosa
torch
transformers
textblob
requests
scipy
ffmpeg-python
tqdm
reportlab
openai